version: '3.4'

services:
  database:
    image: 'postgres:9.6.24'
    environment:
      LANG: 'C.UTF-8'
      POSTGRES_USER: '${ORO_DB_USER}'
      POSTGRES_PASSWORD: '${ORO_DB_PASSWORD}'
      POSTGRES_DB: '${ORO_DB_NAME}'
    volumes:
      - '${COMPOSE_PROJECT_CONFIG_DIR:-.}/docker/pgsql/initdb.d:/docker-entrypoint-initdb.d:ro'
      - 'postgresql-data:/var/lib/postgresql/data:delegated'
    ports:
      - '${COMPOSE_PROJECT_PORT_PGSQL:-5432}:5432'
    networks:
      - 'appnet'
    restart: on-failure:3
    healthcheck:
      test: "pg_isready -U ${ORO_DB_USER}"
      start_period: 60s
      interval: 5s
      retries: 5

volumes:
  postgresql-data:
    driver: local
