services:
  database:
    image: ghcr.io/digitalspacestdio/orodc-pgsql:${DC_ORO_PGSQL_VERSION:-15.1}
    hostname: database.${DC_ORO_NAME:-unnamed}.docker.local
    container_name: ${DC_ORO_NAME:-unnamed}_database
    dns:
      - 1.1.1.1
      - 8.8.8.8
    command: postgres -c fsync=off -c synchronous_commit=off -c full_page_writes=off -c wal_level=minimal -c max_wal_senders=0 -c commit_delay=10000 -c max_locks_per_transaction=10000 -c shared_buffers=512MB
    shm_size: 512m
    environment:
      LANG: 'C.UTF-8'
      POSTGRES_USER: '${DC_ORO_DATABASE_USER:-oro_db_user}'
      POSTGRES_PASSWORD: '${DC_ORO_DATABASE_PASSWORD:-oro_db_pass}'
      POSTGRES_DB: '${DC_ORO_DATABASE_DBNAME:-oro_db}'
    volumes:
      - '${DC_ORO_CONFIG_DIR}/docker/pgsql/initdb.d:/docker-entrypoint-initdb.d:ro'
      - 'postgresql-data:/var/lib/postgresql/data:delegated'
    ports:
      - '${DC_ORO_DATABASE_BIND_HOST:-127.0.0.1}:${DC_ORO_PORT_PGSQL:-5432}:5432'
    restart: always
    deploy:
      resources:
        limits:
          memory: 7G
    healthcheck:
      test: "pg_isready -U $${POSTGRES_USER}"
      start_period: 5s
      interval: 5s
      retries: 18
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

  database-cli:
    image: ghcr.io/digitalspacestdio/orodc-pgsql:${DC_ORO_PGSQL_VERSION:-15.1}
    hostname: database-cli.${DC_ORO_NAME:-unnamed}.docker.local
    container_name: ${DC_ORO_NAME:-unnamed}_database_cli
    dns:
      - 1.1.1.1
      - 8.8.8.8
    command: /bin/true
    restart: "no"
    labels:
      - 'project.name=${DC_ORO_NAME}'
    environment:
      LANG: 'C.UTF-8'
      DC_ORO_DATABASE_HOST: '${DC_ORO_DATABASE_HOST:-database}'
      DC_ORO_DATABASE_PORT: '${DC_ORO_DATABASE_PORT:-5432}'
      DC_ORO_DATABASE_USER: '${DC_ORO_DATABASE_USER:-oro_db_user}'
      DC_ORO_DATABASE_PASSWORD: '${DC_ORO_DATABASE_PASSWORD:-oro_db_pass}'
      DC_ORO_DATABASE_DBNAME: '${DC_ORO_DATABASE_DBNAME:-oro_db}'
      DATABASE_HOST: '${DC_ORO_DATABASE_HOST:-database}'
      DATABASE_PORT: '${DC_ORO_DATABASE_PORT:-5432}'
      DATABASE_USER: '${DC_ORO_DATABASE_USER:-oro_db_user}'
      DATABASE_PASSWORD: '${DC_ORO_DATABASE_PASSWORD:-oro_db_pass}'
      DATABASE_NAME: '${DC_ORO_DATABASE_DBNAME:-oro_db}'
    depends_on:
      database:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

volumes:
  postgresql-data:
    driver: local
