services:
  database:
    image: 'busybox'
    container_name: ${DC_ORO_NAME:-unnamed}_database
    hostname: database.${DC_ORO_NAME:-unnamed}.docker.local
    command: sleep infinity
    restart: always
    deploy:
      resources:
        limits:
          memory: 7G
    healthcheck:
      test: "sh -c 'exit 0'"
