[client]
default-character-set = utf8

[mysqld]
max_allowed_packet    = 512M
max_connections       = 4096
thread_stack          = 192K
thread_cache_size     = 8
interactive_timeout   = 300
wait_timeout          = 900
sort_buffer_size      = 16M
read_rnd_buffer_size  = 16M
read_buffer_size      = 16M
join_buffer_size      = 16M
key_buffer_size       = 256M
tmp_table_size        = 256M
max_heap_table_size   = 256M
binlog_expire_logs_seconds = 900
net_read_timeout      = 10

general_log = 0
slow_query_log = 0
log_output = TABLE
expire_logs_days                = 5

innodb_doublewrite              = 0
innodb_file_per_table           = 1
innodb_thread_concurrency       = 8
innodb_lock_wait_timeout        = 300
innodb_log_files_in_group       = 2
innodb_log_file_size            = 512M
innodb_log_buffer_size          = 64M
innodb_flush_log_at_trx_commit  = 2
innodb_buffer_pool_size         = 1G
innodb_buffer_pool_instances    = 2
innodb_flush_method             = O_DIRECT
